<div class="auth-wrapper">
  <div class="auth-content">
    <div class="auth-bg">
      <span class="r"></span>
      <span class="r s"></span>
      <span class="r s"></span>
      <span class="r"></span>
    </div>
    <div class="card">
      <div class="card-body text-center">
        <div class="mb-4">
          <i class="feather icon-unlock auth-icon"></i>
        </div>
        <h3 class="mb-4" jhiTranslate="login.title">Sign in</h3>
        <form class="form text-start" (ngSubmit)="login()" [formGroup]="loginForm">
          <!-- Username Field -->
          <div class="input-group mb-3">
            <input
              type="text"
              class="form-control"
              name="username"
              id="username"
              placeholder="{{ 'global.form.username.placeholder' | translate }}"
              formControlName="username"
              #username
              data-cy="username"
              jhiTranslatePlaceholder="global.form.username.placeholder"
            />
          </div>

          <!-- Password Field -->
          <div class="input-group mb-4">
            <input
              type="password"
              class="form-control"
              name="password"
              id="password"
              placeholder="{{ 'login.form.password.placeholder' | translate }}"
              formControlName="password"
              data-cy="password"
              jhiTranslatePlaceholder="login.form.password.placeholder"
            />
          </div>

          <!-- Remember Me Checkbox -->
          <div class="form-group text-start mb-4">
            <div class="checkbox checkbox-fill d-inline">
              <input type="checkbox" name="checkbox-fill-1" id="checkbox-fill-1" checked="" />
              <label for="checkbox-fill-1" class="cr">Save Details</label>
            </div>
          </div>

          <!-- Login Button -->
          <button type="submit" class="btn btn-primary shadow-2 mb-4" data-cy="submit">Sign in</button>
        </form>

        <!-- Forgot Password Link -->
        <p class="mb-2 text-muted">
          Forgot password?
          <a routerLink="/account/reset/request" data-cy="forgetYourPasswordSelector">Reset</a>
        </p>

        <!-- Register Link -->
        <p class="mb-0 text-muted">
          Don’t have an account?
          <a routerLink="/account/register" data-cy="registerAccountSelector">Sign up</a>
        </p>
      </div>
    </div>
  </div>
</div>
