<div class="auth-wrapper">
  <div class="auth-content">
    <div class="auth-bg">
      <span class="r"></span>
      <span class="r s"></span>
      <span class="r s"></span>
      <span class="r"></span>
    </div>
    <div class="card">
      <div class="card-body text-center">
        <div class="mb-4">
          <i class="feather icon-lock auth-icon"></i>
        </div>
        <h3 class="mb-4" jhiTranslate="reset.request.title">Reset your password</h3>

        <!-- Alert Messages -->
        <jhi-alert-error></jhi-alert-error>
        @if (!success()) {
          <div class="alert alert-warning">
            <span jhiTranslate="reset.request.messages.info">Enter the email address you used to register</span>
          </div>
        }
        @if (success()) {
          <div class="alert alert-success">
            <span jhiTranslate="reset.request.messages.success"> Check your email for details on how to reset your password. </span>
          </div>
        }

        <!-- Reset Password Form -->
        @if (!success()) {
          <form (ngSubmit)="requestReset()" [formGroup]="resetRequestForm">
            <div class="input-group mb-3">
              <input
                type="email"
                class="form-control"
                id="email"
                name="email"
                placeholder="{{ 'global.form.email.placeholder' | translate }}"
                formControlName="email"
                data-cy="emailResetPassword"
              />
            </div>
            @let emailRef = resetRequestForm.get('email')!;
            @if (emailRef.invalid && (emailRef.dirty || emailRef.touched)) {
              <div class="text-start">
                <small *ngIf="emailRef.errors?.required" class="form-text text-danger"> Your email is required. </small>
                <small *ngIf="emailRef.errors?.email" class="form-text text-danger"> Your email is invalid. </small>
                <small *ngIf="emailRef.errors?.minlength" class="form-text text-danger"> Your email must be at least 5 characters. </small>
                <small *ngIf="emailRef.errors?.maxlength" class="form-text text-danger"> Your email cannot exceed 50 characters. </small>
              </div>
            }
            <button type="submit" [disabled]="resetRequestForm.invalid" class="btn btn-primary shadow-2 mb-4" data-cy="submit">
              Reset password
            </button>
          </form>
        }
      </div>
    </div>
  </div>
</div>
